@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');

/* NAVIGATION BAR */
.navy{
    font-family: 'Roboto', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.navbar{
    width: 90%;
}
.nav-link, .navy-btn a{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-weight: 500;
}.navy-btn{
    padding-left: 120px;
}

.blue, .nav-link{
    transition: all 0.5s ease-in;
    border: none;
}

.blue.active{
background-color: #085BDA;
border-radius: 15px;
height: 61px;
color: white;
}
.blue:hover{
background-color: #085BDA;
color: white;
border-radius: 15px;
padding: 0.5rem 2rem 0.5rem 2rem;

}
.sidebar i{
    margin-top: 10px;

}
.sidebar button{
    border-radius: 15px;
    width: 260px;
}
/* MAIN SECTION */
section{
    padding-top: 170px;
}
/* ABOUT SECTION */
.main-text small{
    font-weight: 500;
    font-size: 19px;
}
.head-text{
    font-weight: 800;
    font-size: 29px;
}
.main-text ul{
    padding-top: 30px;
}
.main-text ul li{
    padding: 8px 0;
    font-size: 21px;
}
.main-text p{
    padding-top: 14px;
    color: #4B84DC;
}
.btno{
    background-color: #085BDA;
    padding: 8px 7px;
}
.btno a{
    color: white;
    text-transform: capitalize;
    text-decoration: none;
}
.works >div{
    padding-top: 70px;
}

/* WORKS SECTION */
.workbar{
    width: 60%;
}
.texty{
    width: 80%;
}
.texty h3{
    font-weight: 700;
    font-size: 26px;
}
.texty p{
    font-size: 22px;
    font-weight: 500;
}
.plan{
    height: 600px;
    width: 30%;
    background-color: #EBE6D9;
    align-items: center;
    justify-content: space-around;
}
.plan >div{
    height: 90px;
    width: 80%;
    background-color: #D9D9D9;
    border-radius: 12px;
}.plan button{
    height: 60px;
    width: 190px;
    background-color: #085BDA;
}
.plan1, .plan3{
    width: 25%;
    background-color: #9B9B9B;
}
.plan2{
    width: 50%;
}
/* bars */
.bar{
    height: 810px;
    background-color: #085BDA;
    width: 5px;
    margin-top: 70px;
    margin-right: 90px;
}
.bar >div{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #085BDA;
    margin-left: -7px;
}
.bar1{
    margin-top: 210px;
}
.bar2{
    margin-top: 220px;
}

/* FOOTER */
footer{
    background-color: black;
    color: white;
    min-height: 270px;
    /* margin-top: 40px; */
    
}
.brand-title {
    /* margin-left: 10px; */
    border: 1px solid black;
    height: 50px;
    width: 170px;
    background-color:  #085BDA ;
}
.brand-title h3{
    text-align: center;
    padding-bottom: 2px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

footer a{
    color: white;
}
.foot{
    display: flex;


}
.foot >div{
    border-right: 5px solid white;
    
   min-height: 270px;
  
   
}
.foot1{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.foot1 .icons{
    display: flex;
    width: 50%;
    justify-content: space-around;
    padding-top: 40px;
}
.icons{
    display: flex;
    color: white;
}
.foot2{
    width: 70%;
    display: grid;
    grid-template-rows: auto auto auto;
    /* justify-content: center; */
    
}
.top{
    padding-left: 30px;
}
.foot2 p{
    padding-top: 20px;
}
.search input{
    height: 43px;
    width: 50%;
    /* margin: auto; */
    margin-top: 10px;
    margin-bottom: 10px;
}
.search button{
    width: 90px;
    height: 43px;
    background-color: #085BDA;
    color: white;
}



.items{
    display: grid;
    grid-template-columns: auto auto auto;
}
.items li{
    list-style: none;
    font-family: 'Roboto', sans-serif;
}
.items h3{
    font-family: 'Roboto', sans-serif;
}

/*MEDIA QUEIRES */
@media only screen and (max-width: 1280px){
/* navbar */
    .navy-btn{
    padding-left: 0;
}
}
@media only screen and (max-width: 1024px){
.navbar{
    width: 95%;
}
.nav-link, .navy-btn a{
    font-size: 15.5px;
   
}
}
@media only screen and (max-width: 540px){
/* NAVBAR */
    .sidebar i{
    margin-top: 10px;
}

/* FOOTER */
footer{
    min-height: 400px;
}
.foot >div{
border-right: 5px solid white;  
 min-height: 400px; 
}

footer .brand-title h3{
    font-size: 13px;
}
footer .brand-title{
    width: 80%;
}
.foot2 p{
    margin-left: 15px
}
.search input{
    width: 50%;
    margin-left: 15px;
    padding-left: 7px;
    font-size: 19px;
    
}
footer li {
    font-size: 12px;
}
footer li h3{
    font-size: 14px;
}
.items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;

}
}

@media only screen and (max-width:412px){
    .top{
        padding-left: 2px;
    }
    .search button{
        margin: auto;
    }
    .search{
        display: flex;
        flex-direction: column;
    }
    .search input{
        width: 80%;
    }
}
