@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');
.navy{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.navbar{
    width: 90%;
}
.nav-link{
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
}
.blue{
    transition: all 0.5s ease-in;
}
.blue:hover{
    background-color: #085BDA;
    color: white;
}
.sidebar i{
    margin-top: 10px;
}
@media only screen and (max-width: 540px){
.sidebar i{
    margin-top: 10px;
}
}